/* body {
  background: linear-gradient(#f0efef, rgb(244, 232, 186), #ccaeb9) no-repeat center center/cover;
  background-attachment: fixed;
} */
*{
  margin: 0px;
}
h2 {
  padding: 10px;
  margin: 20px;
  text-align: center;
  /* color: black; */
}

.cul {
  background-color: gray;
  border: 2px double black;
}

.cli a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.codebox {
  margin: 20px 0;
}

.pre1 {
  font-size: 18px;
  background-color: white;
  border-radius: 10px;
  border: 5px double gray;
}

.dark-mode {
  background-color: black;
  color: white;
}